* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}

.nav {
  width: 100%;
  background-color: #323232;
  display: flex;
  padding-top: 24px;
}
@media (max-width: 767px) {
  .nav {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav {
    flex-direction: row;
    align-items: baseline;
    padding-left: 100px;
  }
}
@media (min-width: 1280px) {
  .nav {
    flex-direction: row;
    align-items: baseline;
    padding-left: 150px;
  }
}
.nav__logo {
  display: flex;
}
@media (max-width: 767px) {
  .nav__logo {
    justify-content: center;
    margin: 24px 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__logo {
    height: auto;
  }
}
@media (min-width: 1280px) {
  .nav__logo {
    height: auto;
  }
}
.nav__logo__item {
  transform: scale(1.5);
}
.nav__bar {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__bar {
    gap: 3rem;
    margin-left: 6rem;
  }
}
@media (min-width: 1280px) {
  .nav__bar {
    gap: 3rem;
    margin-left: 6rem;
  }
}
.nav__bar__current {
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 4px solid #FFFFFF;
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  .nav__bar__current {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__bar__current {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .nav__bar__current {
    width: auto;
    font-size: 1.5rem;
  }
}
.nav__bar__idle {
  color: #e1e1e1;
  text-align: center;
  padding-bottom: 20px;
  transition: all 0.1s ease;
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  .nav__bar__idle {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__bar__idle {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .nav__bar__idle {
    width: auto;
    font-size: 1.5rem;
  }
}
.nav__bar__idle:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}
.nav__bar a {
  text-decoration: none;
}

.hero {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .hero {
    max-height: 90vh;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero {
    max-height: 90vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    max-height: 70vh;
  }
}
.hero__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  justify-content: center;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(50, 50, 50);
  opacity: 0.5;
}
.hero__text {
  position: absolute;
  color: #e1e1e1;
}
@media (max-width: 767px) {
  .hero__text {
    top: 10%;
    left: 1rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__text {
    top: 10%;
    left: 70px;
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    top: 20%;
    left: 125px;
    font-size: 2.5rem;
  }
}
.hero__heading {
  position: absolute;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .hero__heading {
    top: 30%;
    left: 1rem;
    font-size: 2rem;
    margin-right: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__heading {
    top: 20%;
    left: 70px;
    font-size: 4rem;
    margin-right: 10rem;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    top: 35%;
    left: 125px;
    font-size: 5rem;
    margin-right: 45%;
  }
}
.hero__song {
  position: absolute;
}
@media (max-width: 767px) {
  .hero__song {
    top: 60%;
    left: 1rem;
    margin-right: 1rem;
    height: 100;
    width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__song {
    top: 55%;
    left: 70px;
    width: 50%;
    height: 100px;
  }
}
@media (min-width: 1280px) {
  .hero__song {
    top: 40%;
    left: 60%;
    height: 200px;
    width: 35%;
  }
}

.main {
  width: 100%;
  height: auto;
}
@media (min-width: 1280px) {
  .main {
    position: relative;
  }
}
.main__heading {
  color: #323232;
}
@media (max-width: 767px) {
  .main__heading {
    padding: 1.5rem 0 0 1rem;
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__heading {
    padding: 2rem 0 0 70px;
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .main__heading {
    position: absolute;
    font-size: 3rem;
    left: 125px;
    top: -20px;
  }
}
@media (max-width: 767px) {
  .main__container {
    margin: 0.5rem 1rem 1rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__container {
    margin: 1.5rem 70px 1rem 70px;
  }
}
@media (min-width: 1280px) {
  .main__container {
    margin: 4rem 125px 3rem 25%;
  }
}
.main__container__headings {
  display: flex;
  flex-direction: row;
}
.main__container__show:hover {
  background-color: #e1e1e1;
}
.main__container__show {
  border-bottom: 1px solid #e1e1e1;
  transition: all 0.2s ease;
}
@media (max-width: 767px) {
  .main__container__show {
    padding: 1rem 0 1rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__container__show {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .main__container__show {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .main__container__show__section {
    padding-bottom: 1rem;
  }
}
.main__container__show__section__t {
  color: #AFAFAF;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .main__container__show__section__t {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__container__show__section__t {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main__container__show__section__t {
    display: none;
  }
}
.main__container__show__section__d {
  color: #AFAFAF;
}
@media (max-width: 767px) {
  .main__container__show__section__d {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__container__show__section__d {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .main__container__show__section__d {
    padding-bottom: 2rem;
    font-size: 1.5rem;
  }
}
.main__container__show__section__i {
  visibility: hidden;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__container__show__section__i {
    padding-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .main__container__show__section__i {
    padding-bottom: 55px;
  }
}
.main__container__show__section__p {
  color: #323232;
}
@media (max-width: 767px) {
  .main__container__show__section__p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__container__show__section__p {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .main__container__show__section__p {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.main__container__show__section__button {
  display: flex;
  align-items: center;
}
.main__container__show__section__button-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  border-radius: 4px;
  background-color: #323232;
  color: #FFFFFF;
  padding: 0.5rem 0;
  border-color: #323232;
  border: none;
}
@media (max-width: 767px) {
  .button {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .button {
    width: 150px;
    height: 40px;
  }
}
@media (min-width: 1280px) {
  .button {
    width: 150px;
    height: 40px;
  }
}

.button:hover {
  background-color: #000000;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #323232;
  padding: 24px 1rem 1rem 1rem;
  position: relative;
}
@media (max-width: 767px) {
  .footer {
    padding: 24px 1rem 1rem 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 36px 70px 1rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 48px 125px 1rem;
  }
}
.footer__container {
  display: flex;
}
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    flex-direction: row;
    align-items: baseline;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    flex-direction: row;
    align-items: baseline;
    gap: 11vw;
  }
}
.footer__container__heading {
  color: #FFFFFF;
  font-size: 2rem;
}
.footer__container__icons {
  min-width: 5vw;
}
.footer__container__icons__icon {
  transform: scale(1.3);
  padding: 0 30px 0 10px;
}
.footer__contact {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 1rem;
  gap: 3vh;
}
@media (max-width: 767px) {
  .footer__contact {
    margin-top: 1rem;
    flex-direction: column;
    font-size: 1rem;
    gap: 3vh;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__contact {
    margin-top: 3rem;
    flex-direction: row;
    font-size: 0.9rem;
    gap: 4vw;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    margin-top: 3rem;
    flex-direction: row;
    gap: 4.5vw;
  }
}
.footer__contact__container {
  min-width: 20vw;
}
.footer__contact__container__heading {
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .footer__contact__container__heading {
    font-weight: 600;
  }
}
.footer__contact__container__address {
  padding-bottom: 1rem;
}
.footer__contact__container__email a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__logo {
  position: absolute;
  bottom: 40px;
}
@media (max-width: 767px) {
  .footer__logo {
    bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    top: 55px;
    right: 70px;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    top: 60px;
    right: 125px;
  }
}
.footer__copyright {
  margin-top: 4rem;
  color: #FFFFFF;
  font-size: 0.7rem;
}
@media (max-width: 767px) {
  .footer__copyright {
    font-size: 0.7rem;
    margin-top: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__copyright {
    font-size: 1rem;
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .footer__copyright {
    font-size: 1rem;
    margin-top: 3rem;
  }
}/*# sourceMappingURL=shows.css.map */